@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2949C, #A64951);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(70, 69, 69);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #ff0015;
    text-align: center;
    text-shadow: 1px 1px 2px #86272fce;
}

h2 {
    color: #D93644;
}

p {
    text-align: justify;
}
